html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 79px;
    background: #FFFFFF;

}


.navigation-left {
    display: flex;
    justify-items: start;
}

.navigation-right {
    display: flex;
    justify-content: end;
    gap: 10px;
    color: rgba(0, 0, 0, 0.5);

}

.dino-picture {
    display: flex;
}

.top-content {
    border-radius: 20px;
    background: #C5EC00;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.kid {

    font-family: 'Montserrat';
    font-style: normal;
    font-size: 55px;
    line-height: 58px;
    color: #0C0C0C;

}

.card {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.top-content-right {
    padding: auto;

}

.dino-picture {
    padding: auto;
}

.send {
    width: 300px;
    height: 65px;
    background: #0C0C0C;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;



}

.top-content-center {
    display: flex;
    gap: 20px;

}


.bottom-content-center {
    display: flex;

}


.blok-picture1 {
    background-image: url(imgtoken/dino1.png);
    background-repeat: no-repeat;

}

.blok-picture2 {
    background-image: url(imgtoken/man.png);
    background-repeat: no-repeat;

}

.blok-picture3 {
    background-image: url(imgtoken/abstract.png);
    background-repeat: no-repeat;

}

.blok-picture4 {
    background-image: url(imgtoken/man2.png);
    background-repeat: no-repeat;

}

.blok-picture5 {
    background-image: url(imgtoken/abstract1.png);
    background-repeat: no-repeat;

}

.blok-picture6 {
    background-image: url(imgtoken/girl.png);
    background-repeat: no-repeat;

}

.blok-picture7 {
    background-image: url(imgtoken/bird.png);
    background-repeat: no-repeat;

}

.blok-picture8 {
    background-image: url(imgtoken/cat.png);
    background-repeat: no-repeat;

}

.title-text {
    color: #FFFFFF;
}

.title-number {
    color: #FFFFFF;
}

.title-number1 {
    color: #FFFFFF;

}

footer {
    display: flex;
    background: #F4F4F4;

}