html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 79px;
    background: #FFFFFF;
}

.container {
    padding-left: 50px;
    padding-right: 50px;

}


.navigation-left {
    display: flex;
    justify-items: start;
}

.navigation-right {
    display: flex;
    justify-content: end;
    gap: 10px;
    color: rgba(0, 0, 0, 0.5);

}

.dino-picture {
    border-radius: 30px;
}

.top-content {
    border-radius: 20px;
    background: #C5EC00;

    height: 1000px;

}

.dopcontent {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    padding-left: 40px;
}

.top-content-left {
    padding-left: 20px;
}


.shop-picture {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: #0C0C0C;
    padding-left: 41px;
}



.kid {

    font-family: 'Montserrat';
    font-style: normal;
    font-size: 55px;
    line-height: 58px;
    color: #0C0C0C;

}

.card {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.top-content-right {

    padding-top: 65px;
    margin-left: 150px;
}

.line {
    border: 2px solid #0C0C0C;
    margin-left: 40px;
    margin-right: 48px;
    margin-top: 70px;
    margin-bottom: 80px;
}




.send {
    width: 300px;
    height: 65px;
    background: #0C0C0C;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;



}

.recent-works {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #0C0C0C;
    padding-top: 50px;
    padding-bottom: 30px;


}

.top-content-center {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;

}


.bottom-content-center {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;

}


.blok-picture1 {
    background-image: url(imgtoken/dino1.png);
    background-repeat: no-repeat;

}

.logo-top {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    padding-top: 15px;
}

.logo-center {
    margin-top: 215px;
    margin-left: 25px;
    margin-right: 20px;
}

.logo-bottom {
    padding-left: 25px;
}

.autor {
    padding-left: 30px;
    padding-top: 8px;

}

.img-autor {
    border-radius: 50px;
}

.blok-picture2 {
    background-image: url(imgtoken/man.png);
    background-repeat: no-repeat;

}

.blok-picture3 {
    background-image: url(imgtoken/abstract.png);
    background-repeat: no-repeat;

}

.blok-picture4 {
    background-image: url(imgtoken/man2.png);
    background-repeat: no-repeat;

}

.blok-picture5 {
    background-image: url(imgtoken/abstract1.png);
    background-repeat: no-repeat;

}

.blok-picture6 {
    background-image: url(imgtoken/girl.png);
    background-repeat: no-repeat;

}

.blok-picture7 {
    background-image: url(imgtoken/bird.png);
    background-repeat: no-repeat;

}

.blok-picture8 {
    background-image: url(imgtoken/cat.png);
    background-repeat: no-repeat;

}

.title-text {
    color: #FFFFFF;
}

.title-number {
    color: #FFFFFF;
}

.title-number1 {
    color: #FFFFFF;

}

.funds {
    max-width: 1360px;
}

.funds-top {
    background-image: url(imgtoken/fond_color.png);
    border-radius: 20px;
    display: flex;
    padding-top: 35px;
    max-height: 504px;



}

.funds-top-left {
    padding-left: 35px;
    padding-top: 10px;
}

.funds-top-right {
    display: flex;
    gap: 70px;
    padding-right: 35px;
    padding-bottom: 45px;

}

.remark {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}

.remark-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.remark-fund {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.82);
    padding-right: 5px;
}







.funds-bott {
    background-image: url(imgtoken/fond_color.png);
    border-radius: 20px;
}







footer {
    display: flex;
    background: #F4F4F4;

}