html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 79px;
    background: #FFFFFF;
    padding-left: 7px;
}

.container {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;

}


.navigation-left {
    display: flex;
    justify-items: start;
}

.navigation-right {
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-bottom: 20px;

}

.link-header {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

}


.botton-header {
    box-sizing: border-box;
    padding: 14px 30px;
    width: 234px;
    height: 55px;
    border: 2px solid #0C0C0C;
    border-radius: 11px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 25px;


}

.dino-picture {
    border-radius: 30px;
}

.top-content {
    border-radius: 20px;
    background: #C5EC00;
    background-size: cover;



}

.dopcontent {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    padding-left: 40px;
}

.top-content-left {
    padding-left: 20px;
}


.shop-picture {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: #0C0C0C;
    padding-left: 41px;
}



.kid {

    font-family: 'Montserrat';
    font-style: normal;
    font-size: 55px;
    line-height: 58px;
    color: #0C0C0C;

}

.card {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.top-content-right {

    padding-top: 65px;
    margin-left: 150px;
}

.line {
    border: 2px solid #0C0C0C;
    margin-left: 40px;
    margin-right: 48px;
    margin-top: 70px;
    margin-bottom: 80px;
}




.send {
    max-width: 300px;
    height: 65px;
    background: #0C0C0C;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;



}



.top-content-center {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;

}


.bottom-content-center {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*height: 500px;*/

}


.blok-picture1 {
    background-image: url(imgtoken/dino1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.logo-top {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    padding-top: 15px;
}

.logo-center {
    margin-top: 215px;
    margin-left: 25px;
    margin-right: 20px;
}

.logo-bottom {
    padding-left: 25px;
}

.autor {
    padding-left: 30px;
    padding-top: 8px;

}

.img-autor {
    border-radius: 50px;
}

.blok-picture2 {
    background-image: url(imgtoken/man.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.blok-picture3 {
    background-image: url(imgtoken/abstract.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blok-picture4 {
    background-image: url(imgtoken/man2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blok-picture5 {
    background-image: url(imgtoken/abstract1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blok-picture6 {
    background-image: url(imgtoken/girl.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blok-picture7 {
    background-image: url(imgtoken/bird.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blok-picture8 {
    background-image: url(imgtoken/cat.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-text {
    color: #FFFFFF;
}

.title-number {
    color: #FFFFFF;
}

.title-number1 {
    color: #FFFFFF;

}

.recent-works {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #0C0C0C;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 35px;


}

.funds {
    max-width: 1360px;
    margin-bottom: 40px;

}



.funds-top,
.funds-bottom {
    background-image: url(imgtoken/bg.png);
    background-size: cover;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    padding: 40px;
    gap: 40px;


}


.funds-top-right,
.funds-bottom-right {
    display: flex;
    justify-content: space-between;
    gap: 40px;


}

.remark {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}

.remark-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.remark-fund {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.82);
    padding-right: 5px;
}

.funds2 {
    /*max-width: 1360px;*/
    margin-bottom: 40px;
}

.galery {
    display: flex;
    padding: 94px 20px;
    background: #FFE500;
    border-radius: 20px;
}

.shop-galery {
    display: flex;
    gap: 40px;

}

.right-shop-galery {
    padding-left: 55px;
    padding-top: 10px;
}

.text-right-shop-galery {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 40px;
    line-height: 105.9%;
    color: #0C0C0C;

}


.text1-right-shop-galery {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #0C0C0C;
}

.acor-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.acor-container .acor-body {
    width: calc(100%);
    margin: 0 auto;
    height: 0;
    color: #0C0C0C;
    ;
    background-color: #FFFFFF;
    line-height: 27px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
}

.acor-container .acor-body p {
    margin: 0 0 10px;
}

.acor-container label {
    cursor: pointer;
    background-color: #FFFFFF;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #0C0C0C;
    ;
    font-weight: 500;
    box-sizing: border-box;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    ;
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 5px;
    transition: color .35s;
}

.acor-container label:hover {
    color: #FFF;
}

.acor-container input {
    display: none;
}

.acor-container label:before {
    content: '\276F';
    float: right;
}

.acor-container input:checked+label {
    background-color: white;
    color: black;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.acor-container input:checked+label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acor-container input:checked+label+.acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}


footer {
    background: #F4F4F4;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 80px 20px 20px;
    gap: 100px;
}

.container_container-footer {
    padding-left: 45px;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
}

.menu-footer-right {
    display: flex;
    gap: 50px;
}

.link-footer {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);

}

.connectivity,
.footer-information,
.footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}


.footer-navigation {
    padding-top: 50px;
}

.mobil-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.mobil-logo-footer {
    padding-top: 10px;
}



@media (max-width: 500px) {

    .navigation-right {
        display: none;
    }

    .top-content-center,
    .bottom-content-center {
        flex-wrap: wrap;
        row-gap: 50px;
        justify-content: space-around;
    }

    .funds-top-right,
    .funds-bottom-right {
        background-repeat: repeat;
        flex-wrap: wrap;
        row-gap: 50px;
        justify-content: space-around;
    }


    .shop-galery {
        display: block;
    }

    .right-shop-galery {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;

    }

    .logo-footer {
        display: none;
    }

    .menu-footer {
        display: none;

    }

}

@media (min-width: 500px) {
    .mobil-menu-footer {
        display: none;


    }

}